{% extends 'base.html.twig' %}

{% block title %}New Piece{% endblock %}

{% block body %}
    <h1>Ajouter une pièce</h1>

    {{ include('piece/_form.html.twig') }}

    <a href="{{ path('app_piece_index') }}">Retour à la liste</a>
{% endblock %}
