html body {
    background-color: whitesmoke;
    font-family: 'Tinos', serif;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    color: black;
    font-size: 1.5rem;
    
}

/* Header */
.logo {
    letter-spacing: 1rem;
    font-size: 2rem;
}

/* Footer */
.copyright {
    font-size: 1rem;
    font-weight: bold;
}

/* Formulaire */
.form-container {
    padding: 5% 15%;
}
.form-title {
    text-align: center;
    font-size: 10rem;
    margin-top: 2rem;
    letter-spacing: 1.5rem;

}
